#මේ file එක copy කරල මේ folder location එකටම paste කරන්න
#ඊටපස්සෙ ඒ file එක .env කියල rename කරන්න
#mysql database එකේ password එක් වෙනස් වෙනවනම් විතරක් යට DB_PASSWORD variable එකේ = ලකුණ ගාවින් space තියන්නෙ නැතුව password එක ලියන්න.
DB_PASSWORD=